.addnewtask{
    @extend .login;
    .add-now{
        @extend  .login-now;
        h2{
text-align: center;        }
}
.form-group{
    .form-file{
        .form-file-label{
            box-shadow: none !important;
            outline: none !important;
        }
       
        .form-file-button{
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            box-shadow: none;
            outline: none;
        }
        .form-file-text{
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
           

        }
    }
    
    
    } 
    .bt{
        text-align: center;
    }}
