$maincolor: #ef4c55;
$center:text-align center;
$white:#ffffff;
$dark:#212529;
$green:#639a24;
$orang:#ff9800;

$Fsize:14px;
$padding: 100px;
$mrtop:40px;
$box-shadow: 1px 6px 28px #eaeaea;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);